@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu đã được đặt lại thành công. Bạn hãy <a asp-page="./Login">click vào đây để đăng nhập</a>.
</p>
